.hero {
  justify-content: center;
  align-items: center;
  background: #000;
  display: flex;
  min-height: 900px;
  overflow: hidden;
  margin-left: 0px; 
  padding: 20px;
  box-sizing: border-box; 
}

.hero-column {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  margin: auto 0;
  width: 100%; 
  max-width: 768px; 
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box; 
}

.hero-content {
  width: 100%;
  color: #fff;
  text-align: center;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.hero-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 24px;
}

.hero-actions {
  align-self: center;
  display: flex;
  margin-top: 32px;
  align-items: start;
  gap: 16px;
  font-size: 16px;
  font-weight: 400;
}

.btn {
  align-self: stretch;
  padding: 12px 24px;
  border-style: solid;
  border-width: 1px;
  gap: 8px;
}

.btn-primary {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.btn-secondary {
  border-color: #fff;
  color: #fff;
}

@media (max-width: 991px) {
  .hero-content {
    max-width: 100%;
  }

  .hero-title {
    font-size: 40px;
  }

  .hero-description {
    max-width: 100%;
  }

  .btn {
    padding-left: 20px;
    padding-right: 20px;
  }
}