.navigation {
    display: flex;
    min-height: 72px;
    width: 100%;
    padding: 0 64px;
    align-items: center;
    gap: 40px 100px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .nav-content {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    margin: auto 0;
    align-items: center;
    gap: 24px;
    color: #000;
    justify-content: start;
    flex-wrap: wrap;
  }
  
  .logo {
    aspect-ratio: 2.33;
    object-fit: contain;
    object-position: center;
    width: 84px;
    align-self: stretch;
    margin: auto 0;
    flex-shrink: 0;
  }
  
  .nav-links {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    margin: auto 0;
    align-items: center;
    gap: 32px;
    overflow: hidden;
    justify-content: start;
  }
  
  .nav-link {
    align-self: stretch;
    margin: auto 0;
    text-decoration: none;
    color: inherit;
  }
  
  .dropdown {
    align-self: stretch;
    display: flex;
    margin: auto 0;
    align-items: center;
    gap: 4px;
    justify-content: center;
  }
  
  .dropdown-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    align-self: stretch;
    margin: auto 0;
    flex-shrink: 0;
  }
  
  .nav-actions {
    align-self: stretch;
    display: flex;
    margin: auto 0;
    align-items: center;
    gap: 16px;
    white-space: nowrap;
    justify-content: center;
  }
  
  .btn {
    align-self: stretch;
    border: 1px solid #000;
    margin: auto 0;
    padding: 8px 20px;
    gap: 8px;
  }
  
  .btn-secondary {
    color: #000;
  }
  
  .btn-primary {
    background-color: #000;
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .navigation {
      max-width: 100%;
      padding: 0 20px;
    }
  
    .nav-content {
      max-width: 100%;
    }
  
    .nav-links {
      max-width: 100%;
    }
  
    .nav-actions {
      white-space: initial;
    }
  
    .btn {
      white-space: initial;
    }
  }