.hero {
  justify-content: center;
  align-items: center;  
  display: flex;
  min-height: 900px;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box; 
}

.hero-column {
  align-self: stretch;
  display: flex;
  min-width: 200px;
  margin: auto 0;
  width: 100%; 
  max-width: 768px; 
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box; 
}

.hero-content {
  width: 100%;
  color: #fff;
  text-align: center;
}

.hero-title {
  font-family: var(--HACKCLUB_BRANDED-font_phantom-sans);
  color: var(--HACKCLUB_BRANDED-green);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.sub-hero-title {
  font-family: var(--HACKCLUB_BRANDED-font_phantom-sans);
  color: var(--HACKCLUB_BRANDED-muted);
  font-size: 23px;
  font-weight: 590;
  line-height: 1.7;
  margin: 0;
}


.hero-description {
  font-family: var(--HACKCLUB_BRANDED-font_phantom-sans);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 24px;
}


.btn-secondary {
  border-color: #fff;
  color: #fff;
}

@media (max-width: 991px) {
  .hero-content {
    max-width: 100%;
  }

  .hero-title {
    font-size: 40px;
  }

  .hero-description {
    max-width: 100%;
  }

  .btn {
    padding-left: 20px;
    padding-right: 20px;
  }
}




.text-wheel {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.text-wheel-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.words {
  overflow: hidden;
  height: 40px;
  position: relative;
}

.word {
  display: block;
  height: 100%;
  color: var(--HACKCLUB_BRANDED-orange);
  font-family: var(--HACKCLUB_BRANDED-font_phantom-sans);
  font-size: 23px;
  font-weight: 590;
  line-height: 40px;
  animation: spinWords 8s infinite;
}

@keyframes spinWords {
  10% {
    transform: translateY(-102%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-202%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-302%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-402%);
  }
  100% {
    transform: translateY(-400%);
  }
}


.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    #fff 10%,
    transparent 30%,
    transparent 70%,
    #fff 90%
  );
  pointer-events: none;
}